@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bespoked Bikes' Sales Manager tracks products, inventory, sales, and commissions.  Select a topic on the navigation bar to get additional details.</p>
